<a href="https://colab.research.google.com/github/i-nitishh/Deep-Learning/blob/Mobile_Price_Categories_Prediction(ANN)/Mobile_Price_Prediction(Classification).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df  = pd.read_csv('train.csv')

In [3]:
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [4]:
df['price_range'].value_counts()

1    500
2    500
3    500
0    500
Name: price_range, dtype: int64

In [5]:
df.corr().loc[:,'price_range']

battery_power    0.200723
blue             0.020573
clock_speed     -0.006606
dual_sim         0.017444
fc               0.021998
four_g           0.014772
int_memory       0.044435
m_dep            0.000853
mobile_wt       -0.030302
n_cores          0.004399
pc               0.033599
px_height        0.148858
px_width         0.165818
ram              0.917046
sc_h             0.022986
sc_w             0.038711
talk_time        0.021859
three_g          0.023611
touch_screen    -0.030411
wifi             0.018785
price_range      1.000000
Name: price_range, dtype: float64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

In [7]:
x = df.iloc[: , :-1]

In [8]:
x

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0
2,563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0
3,615,1,2.5,0,0,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,1,0,0
4,1821,1,1.2,0,13,1,44,0.6,141,2,14,1208,1212,1411,8,2,15,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,14,1222,1890,668,13,4,19,1,1,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,3,915,1965,2032,11,10,16,1,1,1
1997,1911,0,0.9,1,1,1,36,0.7,108,8,3,868,1632,3057,9,1,5,1,1,0
1998,1512,0,0.9,0,4,1,46,0.1,145,5,5,336,670,869,18,10,19,1,1,1
1999,510,1,2.0,1,5,1,45,0.9,168,6,16,483,754,3919,19,4,2,1,1,1

In [9]:
y= df.iloc[: , -1]

In [11]:
y = pd.get_dummies(y)

In [12]:
from sklearn.model_selection import train_test_split
x_train , x_test, y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 0)

In [13]:
from sklearn.preprocessing import StandardScaler

In [14]:
ss = StandardScaler()
x_train = ss.fit_transform(x_train)
x_test = ss.transform(x_test)

In [15]:
x_train = pd.DataFrame(x_train)
x_train

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,-0.001608,-0.965592,1.671035,0.983880,-0.748114,0.976525,-0.430667,-0.692543,0.852842,0.216380,1.183752,-0.660982,-1.042159,-0.786095,0.882404,0.951809,0.911171,0.564840,-0.986343,-1.025320
1,1.374075,-0.965592,-1.270550,0.983880,1.810037,-1.024039,0.119443,0.693843,0.084708,-1.543255,1.018941,-0.773314,0.655005,-0.952286,-1.032614,-1.324225,-0.183466,-1.770414,-0.986343,-1.025320
2,1.039205,-0.965592,0.690506,-1.016384,-0.050436,0.976525,-1.640908,1.387036,-0.939471,-1.543255,1.183752,2.794355,1.482833,1.555428,-0.793236,-0.641415,-0.730784,0.564840,1.013846,0.975305
3,-1.639756,-0.965592,-0.902852,-1.016384,0.647241,0.976525,0.559530,-0.692543,-1.280863,-1.543255,-0.299543,-1.384401,-1.623253,-1.337588,0.164273,1.407015,-0.730784,0.564840,-0.986343,-1.025320
4,-0.578580,1.035635,1.548469,0.983880,-0.515555,-1.024039,0.174453,0.347246,0.739044,-1.103346,0.854131,1.902438,1.385984,1.495079,1.600536,-0.641415,-0.183466,-1.770414,1.013846,0.975305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,-0.019709,1.035635,0.077676,-1.016384,1.112359,-1.024039,0.064432,1.733633,0.511449,-1.543255,1.348562,-0.299272,-1.609417,1.571211,-0.553859,-0.186208,0.363853,0.564840,1.013846,-1.025320
1596,-0.169043,-0.965592,-1.025418,0.983880,-0.748114,0.976525,-0.155612,0.693843,-0.455831,-1.103346,1.678183,-0.773314,1.233793,-0.521490,1.121782,0.724205,0.728731,0.564840,-0.986343,0.975305
1597,-0.096639,-0.965592,0.567940,0.983880,-0.980673,-1.024039,0.449508,-1.039140,-1.309313,0.216380,-1.453217,1.671033,0.887904,1.398522,0.164273,0.268999,-0.365905,-1.770414,-0.986343,0.975305
1598,-0.094376,-0.965592,1.058205,0.983880,-0.515555,-1.024039,-1.035787,1.387036,0.852842,-1.543255,-0.464354,-1.069871,1.272994,-0.998708,0.403650,0.041395,-0.548344,0.564840,1.013846,0.975305
1599,-1.191754,-0.965592,-1.270550,-1.016384,2.042596,0.976525,-0.045590,-1.385736,-0.882572,-0.663437,1.513373,-0.252093,-0.744694,0.292751,-1.032614,0.268999,-1.278102,0.564840,-0.986343,0.975305

In [16]:
import tensorflow.keras as keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout

In [17]:
model = Sequential()

In [18]:
model.add(Dense(units = 20 ,activation = 'relu' , input_shape = (20,) ,kernel_initializer = 'he_uniform'))
model.add(Dropout(0.2))
model.add(Dense(units=15 , activation ='relu',kernel_initializer ='he_uniform'))
model.add(Dropout(0.2))
model.add(Dense(units=4 , activation ='Softmax'))

In [19]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 20)                420

 dropout (Dropout)           (None, 20)                0

 dense_1 (Dense)             (None, 15)                315

 dropout_1 (Dropout)         (None, 15)                0

 dense_2 (Dense)             (None, 4)                 64

=================================================================
Total params: 799
Trainable params: 799
Non-trainable params: 0
_________________________________________________________________

In [20]:
model.compile(optimizer= 'adam' , loss='categorical_crossentropy', metrics =['accuracy'])

In [21]:
model.fit(x_train,y_train , validation_split =0.3 ,batch_size =10 ,epochs = 100)

Epoch 1/100
112/112 [==============================] - 7s 7ms/step - loss: 1.6286 - accuracy: 0.2804 - val_loss: 1.3340 - val_accuracy: 0.3646
Epoch 2/100
112/112 [==============================] - 0s 4ms/step - loss: 1.4594 - accuracy: 0.3063 - val_loss: 1.2574 - val_accuracy: 0.4187
Epoch 3/100
112/112 [==============================] - 0s 4ms/step - loss: 1.3274 - accuracy: 0.3536 - val_loss: 1.1933 - val_accuracy: 0.4646
Epoch 4/100
112/112 [==============================] - 0s 4ms/step - loss: 1.2446 - accuracy: 0.4045 - val_loss: 1.1158 - val_accuracy: 0.5312
Epoch 5/100
112/112 [==============================] - 0s 4ms/step - loss: 1.1911 - accuracy: 0.4446 - val_loss: 1.0386 - val_accuracy: 0.5667
Epoch 6/100
112/112 [==============================] - 0s 4ms/step - loss: 1.1032 - accuracy: 0.4902 - val_loss: 0.9376 - val_accuracy: 0.5771
Epoch 7/100
112/112 [==============================] - 0s 4ms/step - loss: 1.0110 - accuracy: 0.5241 - val_loss: 0.8536 - val_accuracy: 0.6208
Epoch 8/100
112/112 [==============================] - 0s 4ms/step - loss: 0.9345 - accuracy: 0.5670 - val_loss: 0.7730 - val_accuracy: 0.6521
Epoch 9/100
112/112 [==============================] - 0s 4ms/step - loss: 0.8542 - accuracy: 0.6000 - val_loss: 0.7107 - val_accuracy: 0.7021
Epoch 10/100
112/112 [==============================] - 0s 4ms/step - loss: 0.7938 - accuracy: 0.6429 - val_loss: 0.6533 - val_accuracy: 0.7354
Epoch 11/100
112/112 [==============================] - 0s 4ms/step - loss: 0.7467 - accuracy: 0.6545 - val_loss: 0.6037 - val_accuracy: 0.7354
Epoch 12/100
112/112 [==============================] - 0s 4ms/step - loss: 0.7094 - accuracy: 0.6768 - val_loss: 0.5663 - val_accuracy: 0.7604
Epoch 13/100
112/112 [==============================] - 0s 4ms/step - loss: 0.6524 - accuracy: 0.7000 - val_loss: 0.5255 - val_accuracy: 0.7688
Epoch 14/100
112/112 [==============================] - 0s 4ms/step - loss: 0.6172 - accuracy: 0.7437 - val_loss: 0.4912 - val_accuracy: 0.7833
Epoch 15/100
112/112 [==============================] - 0s 4ms/step - loss: 0.5756 - accuracy: 0.7491 - val_loss: 0.4622 - val_accuracy: 0.8062
Epoch 16/100
112/112 [==============================] - 0s 4ms/step - loss: 0.5408 - accuracy: 0.7750 - val_loss: 0.4323 - val_accuracy: 0.8313
Epoch 17/100
112/112 [==============================] - 1s 7ms/step - loss: 0.5335 - accuracy: 0.7714 - val_loss: 0.4123 - val_accuracy: 0.8396
Epoch 18/100
112/112 [==============================] - 1s 6ms/step - loss: 0.5116 - accuracy: 0.7821 - val_loss: 0.3962 - val_accuracy: 0.8458
Epoch 19/100
112/112 [==============================] - 1s 6ms/step - loss: 0.4790 - accuracy: 0.8018 - val_loss: 0.3768 - val_accuracy: 0.8417
Epoch 20/100
112/112 [==============================] - 1s 5ms/step - loss: 0.4530 - accuracy: 0.8205 - val_loss: 0.3633 - val_accuracy: 0.8542
Epoch 21/100
112/112 [==============================] - 0s 4ms/step - loss: 0.4539 - accuracy: 0.8125 - val_loss: 0.3513 - val_accuracy: 0.8500
Epoch 22/100
112/112 [==============================] - 0s 4ms/step - loss: 0.4451 - accuracy: 0.8143 - val_loss: 0.3389 - val_accuracy: 0.8625
Epoch 23/100
112/112 [==============================] - 0s 4ms/step - loss: 0.4219 - accuracy: 0.8295 - val_loss: 0.3370 - val_accuracy: 0.8500
Epoch 24/100
112/112 [==============================] - 0s 4ms/step - loss: 0.3888 - accuracy: 0.8464 - val_loss: 0.3173 - val_accuracy: 0.8646
Epoch 25/100
112/112 [==============================] - 0s 4ms/step - loss: 0.3946 - accuracy: 0.8438 - val_loss: 0.3130 - val_accuracy: 0.8604
Epoch 26/100
112/112 [==============================] - 0s 4ms/step - loss: 0.4019 - accuracy: 0.8223 - val_loss: 0.3100 - val_accuracy: 0.8729
Epoch 27/100
112/112 [==============================] - 0s 4ms/step - loss: 0.3603 - accuracy: 0.8562 - val_loss: 0.3009 - val_accuracy: 0.8667
Epoch 28/100
112/112 [==============================] - 0s 4ms/step - loss: 0.3828 - accuracy: 0.8402 - val_loss: 0.3125 - val_accuracy: 0.8625
Epoch 29/100
112/112 [==============================] - 0s 4ms/step - loss: 0.3325 - accuracy: 0.8643 - val_loss: 0.2869 - val_accuracy: 0.8771
Epoch 30/100
112/112 [==============================] - 0s 4ms/step - loss: 0.3231 - accuracy: 0.8777 - val_loss: 0.2778 - val_accuracy: 0.8771
Epoch 31/100
112/112 [==============================] - 0s 4ms/step - loss: 0.3385 - accuracy: 0.8607 - val_loss: 0.2719 - val_accuracy: 0.8875
Epoch 32/100
112/112 [==============================] - 0s 4ms/step - loss: 0.3336 - accuracy: 0.8598 - val_loss: 0.2694 - val_accuracy: 0.8833
Epoch 33/100
112/112 [==============================] - 0s 4ms/step - loss: 0.3249 - accuracy: 0.8652 - val_loss: 0.2717 - val_accuracy: 0.8646
Epoch 34/100
112/112 [==============================] - 0s 4ms/step - loss: 0.3285 - accuracy: 0.8518 - val_loss: 0.2644 - val_accuracy: 0.8667
Epoch 35/100
112/112 [==============================] - 0s 4ms/step - loss: 0.3353 - accuracy: 0.8705 - val_loss: 0.2656 - val_accuracy: 0.8771
Epoch 36/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2978 - accuracy: 0.8714 - val_loss: 0.2619 - val_accuracy: 0.8771
Epoch 37/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2812 - accuracy: 0.8804 - val_loss: 0.2579 - val_accuracy: 0.8708
Epoch 38/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2848 - accuracy: 0.8875 - val_loss: 0.2518 - val_accuracy: 0.8729
Epoch 39/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2794 - accuracy: 0.8875 - val_loss: 0.2476 - val_accuracy: 0.8813
Epoch 40/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2818 - accuracy: 0.8902 - val_loss: 0.2557 - val_accuracy: 0.8708
Epoch 41/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2846 - accuracy: 0.8848 - val_loss: 0.2397 - val_accuracy: 0.8938
Epoch 42/100
112/112 [==============================] - 1s 5ms/step - loss: 0.2512 - accuracy: 0.9080 - val_loss: 0.2478 - val_accuracy: 0.8917
Epoch 43/100
112/112 [==============================] - 1s 5ms/step - loss: 0.2742 - accuracy: 0.8982 - val_loss: 0.2431 - val_accuracy: 0.8813
Epoch 44/100
112/112 [==============================] - 1s 6ms/step - loss: 0.2659 - accuracy: 0.8902 - val_loss: 0.2527 - val_accuracy: 0.8771
Epoch 45/100
112/112 [==============================] - 1s 7ms/step - loss: 0.2469 - accuracy: 0.8893 - val_loss: 0.2477 - val_accuracy: 0.8771
Epoch 46/100
112/112 [==============================] - 1s 7ms/step - loss: 0.2681 - accuracy: 0.9000 - val_loss: 0.2328 - val_accuracy: 0.8896
Epoch 47/100
112/112 [==============================] - 1s 7ms/step - loss: 0.2447 - accuracy: 0.9018 - val_loss: 0.2351 - val_accuracy: 0.8875
Epoch 48/100
112/112 [==============================] - 1s 5ms/step - loss: 0.2487 - accuracy: 0.9018 - val_loss: 0.2280 - val_accuracy: 0.8896
Epoch 49/100
112/112 [==============================] - 1s 6ms/step - loss: 0.2520 - accuracy: 0.9027 - val_loss: 0.2324 - val_accuracy: 0.8813
Epoch 50/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2436 - accuracy: 0.8973 - val_loss: 0.2260 - val_accuracy: 0.8938
Epoch 51/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2240 - accuracy: 0.9125 - val_loss: 0.2235 - val_accuracy: 0.8854
Epoch 52/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2388 - accuracy: 0.8991 - val_loss: 0.2212 - val_accuracy: 0.8958
Epoch 53/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2181 - accuracy: 0.9143 - val_loss: 0.2358 - val_accuracy: 0.8875
Epoch 54/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2239 - accuracy: 0.9089 - val_loss: 0.2107 - val_accuracy: 0.9000
Epoch 55/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2160 - accuracy: 0.9152 - val_loss: 0.2172 - val_accuracy: 0.8979
Epoch 56/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2184 - accuracy: 0.9089 - val_loss: 0.2155 - val_accuracy: 0.9021
Epoch 57/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2148 - accuracy: 0.9098 - val_loss: 0.2222 - val_accuracy: 0.8896
Epoch 58/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2376 - accuracy: 0.9071 - val_loss: 0.2219 - val_accuracy: 0.8979
Epoch 59/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2001 - accuracy: 0.9152 - val_loss: 0.2289 - val_accuracy: 0.8750
Epoch 60/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2062 - accuracy: 0.9187 - val_loss: 0.2196 - val_accuracy: 0.8958
Epoch 61/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1932 - accuracy: 0.9286 - val_loss: 0.2192 - val_accuracy: 0.8917
Epoch 62/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1848 - accuracy: 0.9286 - val_loss: 0.2264 - val_accuracy: 0.8917
Epoch 63/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1950 - accuracy: 0.9232 - val_loss: 0.2236 - val_accuracy: 0.8875
Epoch 64/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2036 - accuracy: 0.9196 - val_loss: 0.2129 - val_accuracy: 0.8938
Epoch 65/100
112/112 [==============================] - 1s 5ms/step - loss: 0.1782 - accuracy: 0.9429 - val_loss: 0.2111 - val_accuracy: 0.9000
Epoch 66/100
112/112 [==============================] - 1s 5ms/step - loss: 0.1923 - accuracy: 0.9277 - val_loss: 0.2267 - val_accuracy: 0.8917
Epoch 67/100
112/112 [==============================] - 1s 6ms/step - loss: 0.1916 - accuracy: 0.9179 - val_loss: 0.2131 - val_accuracy: 0.9042
Epoch 68/100
112/112 [==============================] - 1s 6ms/step - loss: 0.1929 - accuracy: 0.9250 - val_loss: 0.2286 - val_accuracy: 0.8896
Epoch 69/100
112/112 [==============================] - 1s 5ms/step - loss: 0.1747 - accuracy: 0.9375 - val_loss: 0.2248 - val_accuracy: 0.8917
Epoch 70/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1762 - accuracy: 0.9357 - val_loss: 0.2385 - val_accuracy: 0.8854
Epoch 71/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2051 - accuracy: 0.9196 - val_loss: 0.2199 - val_accuracy: 0.8896
Epoch 72/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1774 - accuracy: 0.9277 - val_loss: 0.2347 - val_accuracy: 0.8917
Epoch 73/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1726 - accuracy: 0.9348 - val_loss: 0.2214 - val_accuracy: 0.8958
Epoch 74/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1664 - accuracy: 0.9357 - val_loss: 0.2151 - val_accuracy: 0.9000
Epoch 75/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1573 - accuracy: 0.9402 - val_loss: 0.2127 - val_accuracy: 0.8938
Epoch 76/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1796 - accuracy: 0.9205 - val_loss: 0.2269 - val_accuracy: 0.8896
Epoch 77/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1648 - accuracy: 0.9438 - val_loss: 0.2310 - val_accuracy: 0.8917
Epoch 78/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1460 - accuracy: 0.9438 - val_loss: 0.2335 - val_accuracy: 0.8979
Epoch 79/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1844 - accuracy: 0.9330 - val_loss: 0.2487 - val_accuracy: 0.9000
Epoch 80/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1721 - accuracy: 0.9348 - val_loss: 0.2299 - val_accuracy: 0.8979
Epoch 81/100
112/112 [==============================] - 1s 4ms/step - loss: 0.1219 - accuracy: 0.9536 - val_loss: 0.2636 - val_accuracy: 0.8854
Epoch 82/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1698 - accuracy: 0.9223 - val_loss: 0.2458 - val_accuracy: 0.9000
Epoch 83/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1850 - accuracy: 0.9259 - val_loss: 0.2508 - val_accuracy: 0.8854
Epoch 84/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1535 - accuracy: 0.9384 - val_loss: 0.2389 - val_accuracy: 0.8896
Epoch 85/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1665 - accuracy: 0.9348 - val_loss: 0.2352 - val_accuracy: 0.8875
Epoch 86/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1558 - accuracy: 0.9429 - val_loss: 0.2363 - val_accuracy: 0.8896
Epoch 87/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1423 - accuracy: 0.9482 - val_loss: 0.2465 - val_accuracy: 0.8979
Epoch 88/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1338 - accuracy: 0.9446 - val_loss: 0.2312 - val_accuracy: 0.9021
Epoch 89/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1650 - accuracy: 0.9348 - val_loss: 0.2311 - val_accuracy: 0.9042
Epoch 90/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1565 - accuracy: 0.9384 - val_loss: 0.2309 - val_accuracy: 0.8979
Epoch 91/100
112/112 [==============================] - 1s 5ms/step - loss: 0.1441 - accuracy: 0.9411 - val_loss: 0.2487 - val_accuracy: 0.8917
Epoch 92/100
112/112 [==============================] - 1s 6ms/step - loss: 0.1552 - accuracy: 0.9411 - val_loss: 0.2364 - val_accuracy: 0.8979
Epoch 93/100
112/112 [==============================] - 1s 6ms/step - loss: 0.1440 - accuracy: 0.9411 - val_loss: 0.2395 - val_accuracy: 0.8896
Epoch 94/100
112/112 [==============================] - 1s 6ms/step - loss: 0.1365 - accuracy: 0.9438 - val_loss: 0.2523 - val_accuracy: 0.8917
Epoch 95/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1519 - accuracy: 0.9420 - val_loss: 0.2395 - val_accuracy: 0.9062
Epoch 96/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1469 - accuracy: 0.9429 - val_loss: 0.2482 - val_accuracy: 0.9021
Epoch 97/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1500 - accuracy: 0.9473 - val_loss: 0.2551 - val_accuracy: 0.8896
Epoch 98/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1463 - accuracy: 0.9438 - val_loss: 0.2571 - val_accuracy: 0.8917
Epoch 99/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1426 - accuracy: 0.9473 - val_loss: 0.2442 - val_accuracy: 0.9021
Epoch 100/100
112/112 [==============================] - 1s 4ms/step - loss: 0.1305 - accuracy: 0.9509 - val_loss: 0.2301 - val_accuracy: 0.9000

In [22]:
x_new = pd.read_csv('test.csv')

In [23]:
x_new = x_new.drop('id',axis = 1)

In [24]:
x_new = ss.transform(x_new)

In [25]:
x_new

array([[-0.42924612,  1.03563452,  0.3228083 , ..., -1.77041434,
         1.01384584, -1.02532046],
       [-0.88629862,  1.03563452, -1.27055019, ...,  0.56483953,
        -0.98634324, -1.02532046],
       [ 1.2994079 ,  1.03563452,  1.54846868, ..., -1.77041434,
         1.01384584,  0.97530483],
       ...,
       [-0.10795178, -0.96559161, -0.16745585, ...,  0.56483953,
        -0.98634324, -1.02532046],
       [ 0.67944559,  1.03563452, -1.27055019, ..., -1.77041434,
         1.01384584, -1.02532046],
       [ 0.08437229,  1.03563452, -1.27055019, ...,  0.56483953,
        -0.98634324,  0.97530483]])

In [26]:
y_pred = model.predict(x_test)

13/13 [==============================] - 0s 3ms/step

In [27]:
y_pred = pd.DataFrame(y_pred)
y_pred

                0             1             2             3
0    0.000000e+00  1.307627e-12  1.929747e-02  9.807026e-01
1    9.998049e-01  1.951655e-04  1.105913e-19  0.000000e+00
2    1.520352e-22  4.161835e-03  9.958088e-01  2.937648e-05
3    1.074693e-08  5.666496e-01  4.333501e-01  2.879711e-07
4    0.000000e+00  5.937413e-12  2.574295e-02  9.742570e-01
..            ...           ...           ...           ...
395  3.681513e-02  9.631158e-01  6.911624e-05  4.476528e-17
396  8.623559e-06  9.999493e-01  4.206562e-05  4.734547e-20
397  9.999921e-01  7.899894e-06  1.749497e-25  0.000000e+00
398  0.000000e+00  8.513319e-10  1.278367e-01  8.721633e-01
399  9.825315e-01  1.746856e-02  1.285068e-11  2.501226e-35

[400 rows x 4 columns]

In [28]:
y_test

      0  1  2  3
405   0  0  0  1
1190  1  0  0  0
1132  0  0  1  0
731   0  0  1  0
1754  0  0  1  0
...  .. .. .. ..
638   0  1  0  0
360   0  1  0  0
1810  1  0  0  0
1743  0  0  1  0
563   0  1  0  0

[400 rows x 4 columns]

In [29]:
len(y_pred)

400

In [30]:
for i in range(len(y_pred)):
  y_pred.iloc[i] = np.where(y_pred.iloc[i] < max(y_pred.iloc[i]),0,1)

In [31]:
y_pred

       0    1    2    3
0    0.0  0.0  0.0  1.0
1    1.0  0.0  0.0  0.0
2    0.0  0.0  1.0  0.0
3    0.0  1.0  0.0  0.0
4    0.0  0.0  0.0  1.0
..   ...  ...  ...  ...
395  0.0  1.0  0.0  0.0
396  0.0  1.0  0.0  0.0
397  1.0  0.0  0.0  0.0
398  0.0  0.0  0.0  1.0
399  1.0  0.0  0.0  0.0

[400 rows x 4 columns]

In [32]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred , y_test)

0.905

In [33]:
x_new_predict = model.predict(x_new)

32/32 [==============================] - 0s 1ms/step

In [34]:
x_new_predict
x_new_predict =pd.DataFrame(x_new_predict)
x_new_predict

                0             1             2             3
0    0.000000e+00  7.580175e-11  1.685285e-01  8.314715e-01
1    0.000000e+00  5.736335e-15  4.925847e-03  9.950741e-01
2    7.578808e-34  6.805661e-06  8.168908e-01  1.831023e-01
3    0.000000e+00  9.821779e-24  2.295724e-05  9.999770e-01
4    2.393098e-07  9.989128e-01  1.087015e-03  2.712364e-16
..            ...           ...           ...           ...
995  3.810278e-18  9.201138e-02  9.079886e-01  6.934713e-09
996  3.764651e-05  9.999512e-01  1.108207e-05  1.628119e-19
997  9.717844e-01  2.821560e-02  3.082840e-11  7.604565e-36
998  3.175420e-15  5.118554e-02  9.488117e-01  2.791354e-06
999  1.168275e-34  1.544186e-04  9.998448e-01  7.262213e-07

[1000 rows x 4 columns]

In [35]:
for i in range(len(x_new_predict)):
  x_new_predict.iloc[i] = np.where(x_new_predict.iloc[i] < max(x_new_predict.iloc[i]),0,1)

In [36]:
x_new_predict

       0    1    2    3
0    0.0  0.0  0.0  1.0
1    0.0  0.0  0.0  1.0
2    0.0  0.0  1.0  0.0
3    0.0  0.0  0.0  1.0
4    0.0  1.0  0.0  0.0
..   ...  ...  ...  ...
995  0.0  0.0  1.0  0.0
996  0.0  1.0  0.0  0.0
997  1.0  0.0  0.0  0.0
998  0.0  0.0  1.0  0.0
999  0.0  0.0  1.0  0.0

[1000 rows x 4 columns]

In [37]:
##HyperParameter Tuning

In [40]:
!pip install keras_tuner

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting keras_tuner
  Downloading keras_tuner-1.3.5-py3-none-any.whl (176 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 176.1/176.1 kB 14.2 MB/s eta 0:00:00
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras_tuner) (23.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras_tuner) (2.27.1)
Collecting kt-legacy (from keras_tuner)
  Downloading kt_legacy-1.0.5-py3-none-any.whl (9.6 kB)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras_tuner) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras_tuner) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->keras_tuner) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras_tuner) (3.4)
Installing collected packages: kt-legacy, keras_tuner
Successfully installed keras_tuner-1.3.5 kt-legacy-1.0.5

In [41]:
import keras_tuner as kt

In [43]:
def build_in(hp):
  model= Sequential()
  counter =0 
  for i in range(hp.Int('num_layers' , min_value = 1, max_value = 10)):
    if counter == 0:
      model.add(Dense(units = hp.Int('units'+str(i),min_value=10 , max_value = 128 , step =1),
                activation = hp.Choice('activation'+str(i),values=['relu','tanh','sigmoid','elu','LeakyReLU']),
                kernel_initializer=hp.Choice('ki'+str(i),values = ['glorot_normal','glorot_uniform','he_uniform','he_normal']),
                input_dim =20))
      model.add(Dropout(hp.Choice('dropout'+str(i),values =[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9])))
    else:
      model.add(Dense(units = hp.Int('units'+str(i),min_value=10 , max_value = 128 , step =1),
              activation = hp.Choice('activation'+str(i),values=['relu','tanh','sigmoid','elu','LeakyReLU']),
              kernel_initializer=hp.Choice('ki'+str(i),values = ['glorot_normal','glorot_uniform','he_uniform','he_normal']),
              input_dim =20))
      model.add(Dropout(hp.Choice('dropout'+str(i),values =[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9])))
  model.add(Dense(units=4,activation='Softmax'))
  model.compile(optimizer=hp.Choice('optimizer',values = ['adam','rmsprop','adadelta']),loss = 'categorical_crossentropy',metrics = ['accuracy'])
  return model

In [53]:
tuner = kt.RandomSearch(build_in , objective= 'val_accuracy' , max_trials =10 , directory ='mydir' ,project_name='mobile_price_prediction')

In [54]:
tuner.search(x_train , y_train , validation_split = 0.3 ,epochs =50)

Trial 10 Complete [00h 00m 11s]
val_accuracy: 0.28958332538604736

Best val_accuracy So Far: 0.9541666507720947
Total elapsed time: 00h 01m 21s

In [55]:
tuner.get_best_hyperparameters()[0].values

{'num_layers': 2,
 'units0': 18,
 'activation0': 'sigmoid',
 'ki0': 'he_uniform',
 'dropout0': 0.2,
 'optimizer': 'rmsprop',
 'units1': 104,
 'activation1': 'tanh',
 'ki1': 'he_normal',
 'dropout1': 0.1,
 'units2': 14,
 'activation2': 'relu',
 'ki2': 'glorot_uniform',
 'dropout2': 0.6,
 'units3': 78,
 'activation3': 'relu',
 'ki3': 'glorot_normal',
 'dropout3': 0.7,
 'units4': 99,
 'activation4': 'sigmoid',
 'ki4': 'he_uniform',
 'dropout4': 0.2,
 'units5': 45,
 'activation5': 'relu',
 'ki5': 'he_uniform',
 'dropout5': 0.8,
 'units6': 114,
 'activation6': 'LeakyReLU',
 'ki6': 'he_normal',
 'dropout6': 0.3,
 'units7': 108,
 'activation7': 'tanh',
 'ki7': 'he_uniform',
 'dropout7': 0.8,
 'units8': 61,
 'activation8': 'LeakyReLU',
 'ki8': 'he_uniform',
 'dropout8': 0.4}

In [56]:
tune_model = tuner.get_best_models(num_models =1)[0]

In [57]:
tune_model.fit(x_train , y_train , validation_split =0.3 , epochs = 100 , batch_size =10)

Epoch 1/100
112/112 [==============================] - 2s 7ms/step - loss: 0.3234 - accuracy: 0.8571 - val_loss: 0.1824 - val_accuracy: 0.9354
Epoch 2/100
112/112 [==============================] - 1s 5ms/step - loss: 0.3046 - accuracy: 0.8696 - val_loss: 0.1683 - val_accuracy: 0.9458
Epoch 3/100
112/112 [==============================] - 1s 5ms/step - loss: 0.2975 - accuracy: 0.8750 - val_loss: 0.1640 - val_accuracy: 0.9479
Epoch 4/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2549 - accuracy: 0.8955 - val_loss: 0.1619 - val_accuracy: 0.9438
Epoch 5/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2767 - accuracy: 0.8795 - val_loss: 0.1586 - val_accuracy: 0.9500
Epoch 6/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2610 - accuracy: 0.8875 - val_loss: 0.1553 - val_accuracy: 0.9500
Epoch 7/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2525 - accuracy: 0.8964 - val_loss: 0.1476 - val_accuracy: 0.9500
Epoch 8/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2590 - accuracy: 0.8866 - val_loss: 0.1496 - val_accuracy: 0.9438
Epoch 9/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2344 - accuracy: 0.9071 - val_loss: 0.1421 - val_accuracy: 0.9500
Epoch 10/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2529 - accuracy: 0.8946 - val_loss: 0.1381 - val_accuracy: 0.9563
Epoch 11/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2514 - accuracy: 0.8964 - val_loss: 0.1408 - val_accuracy: 0.9542
Epoch 12/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2517 - accuracy: 0.8964 - val_loss: 0.1451 - val_accuracy: 0.9583
Epoch 13/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2338 - accuracy: 0.8938 - val_loss: 0.1411 - val_accuracy: 0.9521
Epoch 14/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2560 - accuracy: 0.8839 - val_loss: 0.1637 - val_accuracy: 0.9417
Epoch 15/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2183 - accuracy: 0.9152 - val_loss: 0.1366 - val_accuracy: 0.9521
Epoch 16/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2008 - accuracy: 0.9259 - val_loss: 0.1343 - val_accuracy: 0.9583
Epoch 17/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1948 - accuracy: 0.9214 - val_loss: 0.1403 - val_accuracy: 0.9479
Epoch 18/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2462 - accuracy: 0.8973 - val_loss: 0.1413 - val_accuracy: 0.9396
Epoch 19/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1886 - accuracy: 0.9187 - val_loss: 0.1361 - val_accuracy: 0.9500
Epoch 20/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2420 - accuracy: 0.8973 - val_loss: 0.1246 - val_accuracy: 0.9521
Epoch 21/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2014 - accuracy: 0.9196 - val_loss: 0.1298 - val_accuracy: 0.9563
Epoch 22/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2036 - accuracy: 0.9187 - val_loss: 0.1439 - val_accuracy: 0.9396
Epoch 23/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1949 - accuracy: 0.9161 - val_loss: 0.1377 - val_accuracy: 0.9396
Epoch 24/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2104 - accuracy: 0.9071 - val_loss: 0.1302 - val_accuracy: 0.9542
Epoch 25/100
112/112 [==============================] - 1s 5ms/step - loss: 0.2115 - accuracy: 0.9080 - val_loss: 0.1332 - val_accuracy: 0.9479
Epoch 26/100
112/112 [==============================] - 1s 5ms/step - loss: 0.1897 - accuracy: 0.9241 - val_loss: 0.1287 - val_accuracy: 0.9521
Epoch 27/100
112/112 [==============================] - 1s 5ms/step - loss: 0.2020 - accuracy: 0.9161 - val_loss: 0.1196 - val_accuracy: 0.9583
Epoch 28/100
112/112 [==============================] - 1s 5ms/step - loss: 0.1833 - accuracy: 0.9205 - val_loss: 0.1122 - val_accuracy: 0.9542
Epoch 29/100
112/112 [==============================] - 1s 5ms/step - loss: 0.1710 - accuracy: 0.9268 - val_loss: 0.1150 - val_accuracy: 0.9458
Epoch 30/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1766 - accuracy: 0.9205 - val_loss: 0.1102 - val_accuracy: 0.9500
Epoch 31/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1894 - accuracy: 0.9170 - val_loss: 0.1268 - val_accuracy: 0.9479
Epoch 32/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1841 - accuracy: 0.9179 - val_loss: 0.1121 - val_accuracy: 0.9688
Epoch 33/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1909 - accuracy: 0.9259 - val_loss: 0.1062 - val_accuracy: 0.9688
Epoch 34/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1760 - accuracy: 0.9286 - val_loss: 0.1134 - val_accuracy: 0.9563
Epoch 35/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1945 - accuracy: 0.9161 - val_loss: 0.1090 - val_accuracy: 0.9604
Epoch 36/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1732 - accuracy: 0.9250 - val_loss: 0.1332 - val_accuracy: 0.9542
Epoch 37/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1860 - accuracy: 0.9259 - val_loss: 0.1158 - val_accuracy: 0.9563
Epoch 38/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1801 - accuracy: 0.9187 - val_loss: 0.1024 - val_accuracy: 0.9667
Epoch 39/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1738 - accuracy: 0.9277 - val_loss: 0.1058 - val_accuracy: 0.9583
Epoch 40/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1668 - accuracy: 0.9330 - val_loss: 0.1048 - val_accuracy: 0.9667
Epoch 41/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1642 - accuracy: 0.9321 - val_loss: 0.1187 - val_accuracy: 0.9479
Epoch 42/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1889 - accuracy: 0.9205 - val_loss: 0.1094 - val_accuracy: 0.9604
Epoch 43/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1488 - accuracy: 0.9375 - val_loss: 0.1096 - val_accuracy: 0.9563
Epoch 44/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1576 - accuracy: 0.9384 - val_loss: 0.1005 - val_accuracy: 0.9667
Epoch 45/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1500 - accuracy: 0.9357 - val_loss: 0.0987 - val_accuracy: 0.9688
Epoch 46/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1772 - accuracy: 0.9232 - val_loss: 0.1179 - val_accuracy: 0.9542
Epoch 47/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1613 - accuracy: 0.9348 - val_loss: 0.1211 - val_accuracy: 0.9500
Epoch 48/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1552 - accuracy: 0.9348 - val_loss: 0.0998 - val_accuracy: 0.9542
Epoch 49/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1751 - accuracy: 0.9295 - val_loss: 0.1030 - val_accuracy: 0.9646
Epoch 50/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1513 - accuracy: 0.9366 - val_loss: 0.1161 - val_accuracy: 0.9542
Epoch 51/100
112/112 [==============================] - 1s 5ms/step - loss: 0.1582 - accuracy: 0.9348 - val_loss: 0.1073 - val_accuracy: 0.9708
Epoch 52/100
112/112 [==============================] - 1s 7ms/step - loss: 0.1514 - accuracy: 0.9420 - val_loss: 0.1047 - val_accuracy: 0.9625
Epoch 53/100
112/112 [==============================] - 1s 6ms/step - loss: 0.1439 - accuracy: 0.9411 - val_loss: 0.0997 - val_accuracy: 0.9625
Epoch 54/100
112/112 [==============================] - 1s 7ms/step - loss: 0.1808 - accuracy: 0.9214 - val_loss: 0.1049 - val_accuracy: 0.9583
Epoch 55/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1666 - accuracy: 0.9348 - val_loss: 0.1237 - val_accuracy: 0.9417
Epoch 56/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1667 - accuracy: 0.9321 - val_loss: 0.1213 - val_accuracy: 0.9458
Epoch 57/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1701 - accuracy: 0.9304 - val_loss: 0.1245 - val_accuracy: 0.9417
Epoch 58/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1597 - accuracy: 0.9384 - val_loss: 0.1105 - val_accuracy: 0.9646
Epoch 59/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1550 - accuracy: 0.9295 - val_loss: 0.1067 - val_accuracy: 0.9646
Epoch 60/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1568 - accuracy: 0.9304 - val_loss: 0.1112 - val_accuracy: 0.9583
Epoch 61/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1494 - accuracy: 0.9411 - val_loss: 0.1145 - val_accuracy: 0.9563
Epoch 62/100
112/112 [==============================] - 0s 3ms/step - loss: 0.1590 - accuracy: 0.9286 - val_loss: 0.1012 - val_accuracy: 0.9563
Epoch 63/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1402 - accuracy: 0.9420 - val_loss: 0.1316 - val_accuracy: 0.9396
Epoch 64/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1682 - accuracy: 0.9286 - val_loss: 0.0964 - val_accuracy: 0.9688
Epoch 65/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1460 - accuracy: 0.9402 - val_loss: 0.1015 - val_accuracy: 0.9646
Epoch 66/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1418 - accuracy: 0.9473 - val_loss: 0.0918 - val_accuracy: 0.9646
Epoch 67/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1592 - accuracy: 0.9348 - val_loss: 0.1174 - val_accuracy: 0.9542
Epoch 68/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1351 - accuracy: 0.9393 - val_loss: 0.1300 - val_accuracy: 0.9396
Epoch 69/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1395 - accuracy: 0.9393 - val_loss: 0.1067 - val_accuracy: 0.9625
Epoch 70/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1363 - accuracy: 0.9420 - val_loss: 0.1090 - val_accuracy: 0.9604
Epoch 71/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1656 - accuracy: 0.9321 - val_loss: 0.1369 - val_accuracy: 0.9375
Epoch 72/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1513 - accuracy: 0.9393 - val_loss: 0.1134 - val_accuracy: 0.9521
Epoch 73/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1369 - accuracy: 0.9455 - val_loss: 0.0895 - val_accuracy: 0.9667
Epoch 74/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1323 - accuracy: 0.9473 - val_loss: 0.0955 - val_accuracy: 0.9583
Epoch 75/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1428 - accuracy: 0.9393 - val_loss: 0.0922 - val_accuracy: 0.9625
Epoch 76/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1490 - accuracy: 0.9375 - val_loss: 0.1183 - val_accuracy: 0.9542
Epoch 77/100
112/112 [==============================] - 1s 5ms/step - loss: 0.1442 - accuracy: 0.9438 - val_loss: 0.0995 - val_accuracy: 0.9646
Epoch 78/100
112/112 [==============================] - 1s 5ms/step - loss: 0.1475 - accuracy: 0.9339 - val_loss: 0.0926 - val_accuracy: 0.9625
Epoch 79/100
112/112 [==============================] - 1s 6ms/step - loss: 0.1321 - accuracy: 0.9402 - val_loss: 0.1230 - val_accuracy: 0.9521
Epoch 80/100
112/112 [==============================] - 1s 6ms/step - loss: 0.1697 - accuracy: 0.9304 - val_loss: 0.0944 - val_accuracy: 0.9667
Epoch 81/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1379 - accuracy: 0.9473 - val_loss: 0.1026 - val_accuracy: 0.9604
Epoch 82/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1473 - accuracy: 0.9348 - val_loss: 0.1127 - val_accuracy: 0.9563
Epoch 83/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1440 - accuracy: 0.9366 - val_loss: 0.0857 - val_accuracy: 0.9688
Epoch 84/100
112/112 [==============================] - 1s 4ms/step - loss: 0.1402 - accuracy: 0.9420 - val_loss: 0.1041 - val_accuracy: 0.9604
Epoch 85/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1430 - accuracy: 0.9429 - val_loss: 0.0915 - val_accuracy: 0.9688
Epoch 86/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1341 - accuracy: 0.9509 - val_loss: 0.0897 - val_accuracy: 0.9708
Epoch 87/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1432 - accuracy: 0.9411 - val_loss: 0.1106 - val_accuracy: 0.9521
Epoch 88/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1262 - accuracy: 0.9482 - val_loss: 0.0865 - val_accuracy: 0.9750
Epoch 89/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1363 - accuracy: 0.9402 - val_loss: 0.0979 - val_accuracy: 0.9646
Epoch 90/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1387 - accuracy: 0.9446 - val_loss: 0.1017 - val_accuracy: 0.9583
Epoch 91/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1314 - accuracy: 0.9411 - val_loss: 0.0823 - val_accuracy: 0.9708
Epoch 92/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1295 - accuracy: 0.9473 - val_loss: 0.0984 - val_accuracy: 0.9688
Epoch 93/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1291 - accuracy: 0.9482 - val_loss: 0.0930 - val_accuracy: 0.9646
Epoch 94/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1286 - accuracy: 0.9411 - val_loss: 0.0858 - val_accuracy: 0.9688
Epoch 95/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1157 - accuracy: 0.9589 - val_loss: 0.1088 - val_accuracy: 0.9563
Epoch 96/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1336 - accuracy: 0.9438 - val_loss: 0.1102 - val_accuracy: 0.9625
Epoch 97/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1384 - accuracy: 0.9393 - val_loss: 0.0867 - val_accuracy: 0.9688
Epoch 98/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1485 - accuracy: 0.9446 - val_loss: 0.0887 - val_accuracy: 0.9646
Epoch 99/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1365 - accuracy: 0.9375 - val_loss: 0.0919 - val_accuracy: 0.9625
Epoch 100/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1332 - accuracy: 0.9455 - val_loss: 0.1139 - val_accuracy: 0.9542

In [60]:
tuner.results_summary()

Results summary
Results in mydir/mobile_price_prediction
Showing 10 best trials
Objective(name="val_accuracy", direction="max")

Trial 08 summary
Hyperparameters:
num_layers: 2
units0: 18
activation0: sigmoid
ki0: he_uniform
dropout0: 0.2
optimizer: rmsprop
units1: 104
activation1: tanh
ki1: he_normal
dropout1: 0.1
units2: 14
activation2: relu
ki2: glorot_uniform
dropout2: 0.6
units3: 78
activation3: relu
ki3: glorot_normal
dropout3: 0.7
units4: 99
activation4: sigmoid
ki4: he_uniform
dropout4: 0.2
units5: 45
activation5: relu
ki5: he_uniform
dropout5: 0.8
units6: 114
activation6: LeakyReLU
ki6: he_normal
dropout6: 0.3
units7: 108
activation7: tanh
ki7: he_uniform
dropout7: 0.8
units8: 61
activation8: LeakyReLU
ki8: he_uniform
dropout8: 0.4
Score: 0.9541666507720947

Trial 05 summary
Hyperparameters:
num_layers: 2
units0: 37
activation0: tanh
ki0: he_uniform
dropout0: 0.2
optimizer: rmsprop
units1: 109
activation1: sigmoid
ki1: he_uniform
dropout1: 0.4
units2: 19
activation2: LeakyReLU
ki2: glorot_uniform
dropout2: 0.7
units3: 103
activation3: LeakyReLU
ki3: glorot_uniform
dropout3: 0.4
units4: 60
activation4: elu
ki4: glorot_uniform
dropout4: 0.5
units5: 97
activation5: sigmoid
ki5: he_normal
dropout5: 0.8
units6: 119
activation6: sigmoid
ki6: he_uniform
dropout6: 0.7
units7: 43
activation7: sigmoid
ki7: glorot_uniform
dropout7: 0.2
Score: 0.9229166507720947

Trial 07 summary
Hyperparameters:
num_layers: 5
units0: 121
activation0: LeakyReLU
ki0: he_normal
dropout0: 0.1
optimizer: rmsprop
units1: 99
activation1: relu
ki1: he_normal
dropout1: 0.8
units2: 37
activation2: LeakyReLU
ki2: he_uniform
dropout2: 0.9
units3: 87
activation3: elu
ki3: he_normal
dropout3: 0.1
units4: 70
activation4: sigmoid
ki4: glorot_uniform
dropout4: 0.2
units5: 60
activation5: LeakyReLU
ki5: he_normal
dropout5: 0.3
units6: 56
activation6: sigmoid
ki6: glorot_normal
dropout6: 0.4
units7: 58
activation7: LeakyReLU
ki7: glorot_uniform
dropout7: 0.7
units8: 27
activation8: sigmoid
ki8: he_uniform
dropout8: 0.6
Score: 0.887499988079071

Trial 0 summary
Hyperparameters:
num_layers: 3
units0: 11
activation0: tanh
ki0: he_uniform
dropout0: 0.6
optimizer: adadelta
units1: 10
activation1: relu
ki1: glorot_normal
dropout1: 0.1
units2: 10
activation2: relu
ki2: glorot_normal
dropout2: 0.1
Score: 0.34166666865348816

Trial 09 summary
Hyperparameters:
num_layers: 1
units0: 30
activation0: relu
ki0: glorot_uniform
dropout0: 0.6
optimizer: adadelta
units1: 94
activation1: tanh
ki1: glorot_normal
dropout1: 0.3
units2: 97
activation2: elu
ki2: he_normal
dropout2: 0.3
units3: 15
activation3: elu
ki3: he_normal
dropout3: 0.7
units4: 120
activation4: sigmoid
ki4: glorot_uniform
dropout4: 0.8
units5: 82
activation5: elu
ki5: he_normal
dropout5: 0.1
units6: 69
activation6: sigmoid
ki6: he_uniform
dropout6: 0.2
units7: 15
activation7: sigmoid
ki7: he_normal
dropout7: 0.9
units8: 82
activation8: tanh
ki8: glorot_uniform
dropout8: 0.2
Score: 0.28958332538604736

Trial 3 summary
Hyperparameters:
num_layers: 6
units0: 110
activation0: relu
ki0: glorot_uniform
dropout0: 0.7
optimizer: rmsprop
units1: 120
activation1: tanh
ki1: he_uniform
dropout1: 0.5
units2: 57
activation2: tanh
ki2: he_uniform
dropout2: 0.7
units3: 89
activation3: relu
ki3: glorot_normal
dropout3: 0.9
units4: 76
activation4: elu
ki4: glorot_uniform
dropout4: 0.2
units5: 49
activation5: sigmoid
ki5: glorot_uniform
dropout5: 0.8
units6: 97
activation6: sigmoid
ki6: he_normal
dropout6: 0.9
units7: 64
activation7: relu
ki7: glorot_normal
dropout7: 0.8
Score: 0.2750000059604645

Trial 1 summary
Hyperparameters:
num_layers: 2
units0: 127
activation0: relu
ki0: glorot_normal
dropout0: 0.4
optimizer: adadelta
units1: 91
activation1: sigmoid
ki1: glorot_uniform
dropout1: 0.2
units2: 63
activation2: LeakyReLU
ki2: glorot_uniform
dropout2: 0.5
Score: 0.2604166567325592

Trial 4 summary
Hyperparameters:
num_layers: 7
units0: 126
activation0: elu
ki0: he_uniform
dropout0: 0.5
optimizer: rmsprop
units1: 94
activation1: elu
ki1: glorot_normal
dropout1: 0.2
units2: 99
activation2: sigmoid
ki2: he_uniform
dropout2: 0.3
units3: 85
activation3: sigmoid
ki3: he_normal
dropout3: 0.3
units4: 125
activation4: tanh
ki4: he_uniform
dropout4: 0.8
units5: 40
activation5: LeakyReLU
ki5: he_uniform
dropout5: 0.2
units6: 29
activation6: relu
ki6: glorot_uniform
dropout6: 0.1
units7: 83
activation7: relu
ki7: glorot_uniform
dropout7: 0.1
Score: 0.25833332538604736

Trial 06 summary
Hyperparameters:
num_layers: 9
units0: 93
activation0: sigmoid
ki0: glorot_normal
dropout0: 0.4
optimizer: rmsprop
units1: 97
activation1: relu
ki1: glorot_uniform
dropout1: 0.2
units2: 124
activation2: LeakyReLU
ki2: glorot_normal
dropout2: 0.3
units3: 83
activation3: relu
ki3: glorot_uniform
dropout3: 0.6
units4: 25
activation4: sigmoid
ki4: he_uniform
dropout4: 0.5
units5: 35
activation5: tanh
ki5: he_normal
dropout5: 0.7
units6: 109
activation6: tanh
ki6: he_uniform
dropout6: 0.5
units7: 68
activation7: sigmoid
ki7: he_normal
dropout7: 0.8
units8: 10
activation8: relu
ki8: glorot_normal
dropout8: 0.1
Score: 0.24791666865348816

Trial 2 summary
Hyperparameters:
num_layers: 8
units0: 54
activation0: relu
ki0: he_uniform
dropout0: 0.4
optimizer: adadelta
units1: 56
activation1: elu
ki1: glorot_normal
dropout1: 0.5
units2: 70
activation2: LeakyReLU
ki2: he_uniform
dropout2: 0.5
units3: 10
activation3: relu
ki3: glorot_normal
dropout3: 0.1
units4: 10
activation4: relu
ki4: glorot_normal
dropout4: 0.1
units5: 10
activation5: relu
ki5: glorot_normal
dropout5: 0.1
units6: 10
activation6: relu
ki6: glorot_normal
dropout6: 0.1
units7: 10
activation7: relu
ki7: glorot_normal
dropout7: 0.1
Score: 0.24375000596046448

In [61]:
y_predict_tune_model = tune_model.predict(x_test)

13/13 [==============================] - 0s 2ms/step

In [63]:
y_predict_tune_model = pd.DataFrame(y_predict_tune_model)

In [64]:
for i in range(len(y_predict_tune_model)):
  y_predict_tune_model.iloc[i] = np.where(y_predict_tune_model.iloc[i]<max(y_predict_tune_model.iloc[i]),0,1)

In [66]:
y_predict_tune_model

       0    1    2    3
0    0.0  0.0  0.0  1.0
1    1.0  0.0  0.0  0.0
2    0.0  0.0  1.0  0.0
3    0.0  0.0  1.0  0.0
4    0.0  0.0  0.0  1.0
..   ...  ...  ...  ...
395  0.0  1.0  0.0  0.0
396  0.0  1.0  0.0  0.0
397  1.0  0.0  0.0  0.0
398  0.0  0.0  1.0  0.0
399  1.0  0.0  0.0  0.0

[400 rows x 4 columns]

In [67]:
y_test

      0  1  2  3
405   0  0  0  1
1190  1  0  0  0
1132  0  0  1  0
731   0  0  1  0
1754  0  0  1  0
...  .. .. .. ..
638   0  1  0  0
360   0  1  0  0
1810  1  0  0  0
1743  0  0  1  0
563   0  1  0  0

[400 rows x 4 columns]

In [68]:
accuracy_score(y_predict_tune_model , y_test)

0.9525

In [69]:
x_new

array([[-0.42924612,  1.03563452,  0.3228083 , ..., -1.77041434,
         1.01384584, -1.02532046],
       [-0.88629862,  1.03563452, -1.27055019, ...,  0.56483953,
        -0.98634324, -1.02532046],
       [ 1.2994079 ,  1.03563452,  1.54846868, ..., -1.77041434,
         1.01384584,  0.97530483],
       ...,
       [-0.10795178, -0.96559161, -0.16745585, ...,  0.56483953,
        -0.98634324, -1.02532046],
       [ 0.67944559,  1.03563452, -1.27055019, ..., -1.77041434,
         1.01384584, -1.02532046],
       [ 0.08437229,  1.03563452, -1.27055019, ...,  0.56483953,
        -0.98634324,  0.97530483]])

In [70]:
x_new_predict_final = tune_model.predict(x_new)

32/32 [==============================] - 0s 4ms/step

In [72]:
x_new_predict_final = pd.DataFrame(x_new_predict_final)
for i in range(len(x_new_predict_final)):
  x_new_predict_final.iloc[i] = np.where(x_new_predict_final.iloc[i]<max(x_new_predict_final.iloc[i]),0,1)

In [73]:
x_new_predict_final

       0    1    2    3
0    0.0  0.0  0.0  1.0
1    0.0  0.0  0.0  1.0
2    0.0  0.0  1.0  0.0
3    0.0  0.0  0.0  1.0
4    0.0  1.0  0.0  0.0
..   ...  ...  ...  ...
995  0.0  0.0  1.0  0.0
996  0.0  1.0  0.0  0.0
997  1.0  0.0  0.0  0.0
998  0.0  0.0  1.0  0.0
999  0.0  0.0  1.0  0.0

[1000 rows x 4 columns]

In [77]:
x_new_data = pd.read_csv('test.csv')

In [83]:
x_new_data = x_new_data.iloc[:,1:]

In [85]:
final_predicted_data = pd.concat([x_new_data,x_new_predict_final],axis =1)
final_predicted_data

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,0,1,2,3
0,1043,1,1.8,1,14,0,5,0.1,193,3,...,12,7,2,0,1,0,0.0,0.0,0.0,1.0
1,841,1,0.5,1,4,1,61,0.8,191,5,...,6,0,7,1,0,0,0.0,0.0,0.0,1.0
2,1807,1,2.8,0,1,0,27,0.9,186,3,...,17,10,10,0,1,1,0.0,0.0,1.0,0.0
3,1546,0,0.5,1,18,1,25,0.5,96,8,...,10,0,7,1,1,0,0.0,0.0,0.0,1.0
4,1434,0,1.4,0,11,1,49,0.5,108,6,...,15,8,7,1,0,1,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1700,1,1.9,0,0,1,54,0.5,170,7,...,14,8,15,1,1,0,0.0,0.0,1.0,0.0
996,609,0,1.8,1,0,0,13,0.9,186,4,...,8,1,19,0,1,1,0.0,1.0,0.0,0.0
997,1185,0,1.4,0,1,1,8,0.5,80,1,...,5,0,14,1,0,0,1.0,0.0,0.0,0.0
998,1533,1,0.5,1,0,0,50,0.4,171,2,...,15,11,6,0,1,0,0.0,0.0,1.0,0.0
999,1270,1,0.5,0,4,1,35,0.1,140,6,...,9,2,3,1,0,1,0.0,0.0,1.0,0.0

In [88]:
''' EXPLANATION OF OUTPUT LABLE :
   0-------> Cheap Price
   1-------> Medium Price
   2-------> Costly
   3-------> Premium 
   '''

' EXPLANATION OF OUTPUT LABLE :\n   0-------> Cheap Price\n   1-------> Medium Price\n   2-------> Costly\n   3-------> Premium \n   '